.flex-containeren{
    display: flex;
    font-size: 20px;
    color: purple;
    columns: 40px 3;
    margin: 30px;
}

.flex-containeren .one {
    flex: 1 1 0%;
}

.flex-containeren .two {
    flex: 2 2 0%;
}

.flex-containeren .tre {
    flex: 1 1 0%;
}

.flex-containerto{
    height: 300px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.flex-containerto .en{
    flex: 1 1 0%;
}


.flex-containertre{
    margin: 60px;
    background-color: green;
    display: flex;
}

.flex-containertre .e{
    background-color: blueviolet;
display: flex;
}

.flex-containertre .thor{
    background-color: blueviolet;
display: flex;
}

.flex-containerfire{  
    display: flex;
}

.button{
background-color: green;
color: white;
}

.h1{
    font-style: italic;
    font-size: 36px;
    color: red;
}