.flex-containeren{
    display: flex;
    font-size: 50px;
    color: purple;
}

.flex-containerto{
    background-color: hsl(215, 28%, 17%);
    font-size: 48px;
    
    display: flex;
}

.flex-containertre{
    background-color: powderblue;
    display: flex;
}

.flex-containerfire{
    background-color: blue;
    display: flex;
}

.button{
background-color: green;
color: white;
}

.h1{
    font-style: italic;
    font-size: 36px;
    color: red;
}